.mat-field-width {
  width: 100%;
  }
 .container-width {
  border: .3px solid grey;
  height: 560px;
  overflow: auto;
  padding-bottom: 8px;
  width: 500px;
 }
 p {
   text-transform: capitalize;
 }