.mat-field-width {
    width: 100%;
  }
  .container-width {
    height: 500px;
    overflow: auto;
    padding-bottom: 8px;
    width: 500px;
  }
  p {
    text-transform: capitalize;
  }
  
  .mouse-pointer {
    cursor: pointer;
  }
  