<div class="text-center mt-3">
  <h3>Welcome to Crowd Source Fund Organization</h3>
</div>
<ng-container *ngIf="!errorOccurred">
  <div class="d-flex justify-content-center">
    <div class="container-width">
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
          <mat-form-field>
            <mat-label>Select your Bus Stop</mat-label>
            <mat-select
              [(ngModel)]="selected"
              required
              (selectionChange)="showDonationDetails()"
              [formControl]="busStopSelectControl"
            >
              <mat-option>None</mat-option>
              <mat-option
                *ngFor="let option of busStopData"
                value="{{ option.stopId }}"
                >{{ option.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="busStopSelectControl.hasError('required')"
              >Please choose a Bus Stop</mat-error
            >
          </mat-form-field>
        </div>
        <div *ngIf="selected">
          <div class="d-flex justify-content-center">
            Target fund to be raised : S$700
          </div>
          <div class="d-flex justify-content-center">
            Total Fund raised for this Bus Stop: {{ totalFund }}
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button
              mat-raised-button
              class="btn btn-success"
              (click)="showDonateDialog()"
            >
              Donate
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 mt-5 mb-5 container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Stop Name Column -->
      <ng-container matColumnDef="stopName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Bus Stop Name</th>
        <td mat-cell *matCellDef="let element">{{ element.stopName }}</td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <!-- Amount Donated Column -->
      <ng-container matColumnDef="amountDonated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Donated Amoun(in Dollars)
        </th>
        <td mat-cell *matCellDef="let element" class="pl-3">
          {{ element.amountDonated }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</ng-container>
<div *ngIf="errorOccurred" class="text-center text-danger">
  <strong
    >Error occurred while reading data from service. Please try again after some
    time.</strong
  >
</div>
